# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
__init__.pyc
__init__.pyo

# Logs and databases
*.log
*.sqlite3

# Output directories
dist/
build/

# Egg info
*.egg-info/

# Virtual environment
venv/

# IDE settings
.vscode/
.idea/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Dependency directories
lib/
lib64/
bin/
include/